@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Playfair Display";
  src: local("Playfair Display"),
    url("../fonts/PlayfairDisplay-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Merriweather";
  src: local("Merriweather"),
    url("../fonts/Merriweather-Regular.ttf") format("ttf");
}
